<h1 mat-dialog-title>Add Member</h1>
<div mat-dialog-content>
    <form [formGroup]="memberForm">
        <div class="sm:col-span-4">
            <mat-form-field class="w-full">
                <mat-label>Name</mat-label>
                <input autocomplete="off" matInput [formControlName]="'name'">
            </mat-form-field>
            <div *ngFor="let validation of validation_messages.name">
                <mat-error class="error-message"
                    *ngIf="memberForm.get('name')?.hasError(validation.type) && (memberForm.get('name')?.dirty || memberForm.get('name')?.touched)">
                    {{validation.message}}
                </mat-error>
            </div>
        </div>
        <div class="sm:col-span-4">
            <mat-form-field class="w-full">
                <mat-label>Contact No</mat-label>
                <input autocomplete="off" matInput [formControlName]="'contact_no'">
            </mat-form-field>
            <div *ngFor="let validation of validation_messages.contact_no">
                <mat-error class="error-message"
                    *ngIf="memberForm.get('contact_no')?.hasError(validation.type) && (memberForm.get('contact_no')?.dirty || memberForm.get('contact_no')?.touched)">
                    {{validation.message}}
                </mat-error>
            </div>
        </div>
        <div class="sm:col-span-4">
            <mat-form-field class="w-full">
                <mat-label>Address</mat-label>
                <input autocomplete="off" matInput [formControlName]="'address'">
            </mat-form-field>
            <div *ngFor="let validation of validation_messages.address">
                <mat-error class="error-message"
                    *ngIf="memberForm.get('address')?.hasError(validation.type) && (memberForm.get('address')?.dirty || memberForm.get('address')?.touched)">
                    {{validation.message}}
                </mat-error>
            </div>
        </div>
    </form>
    <mat-progress-bar *ngIf="showSpinner" class="example-margin" color="primary" mode="indeterminate" diameter="40" [bufferValue]="75">
    </mat-progress-bar>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" [disabled]="memberForm.invalid" (click)="addMemberDetails()">Save</button>
    <button mat-raised-button [mat-dialog-close]="true">Cancel</button>
</div>